p {
    color: black;
}

.rectangle {
    position: absolute;
    border: 1px solid red;
    pointer-events: none;
}

.result-div {
    position: absolute;
    background-color: white;
    pointer-events: auto;
}

.root-canvas {
    cursor: crosshair;
    top: 0;
    left: 0;
    position: absolute;
}

.word-wrapper {
    display: inline-block;
    border-bottom: 1px dotted;
    cursor: help;
}

.word-popup {
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    position: absolute;
    visibility: hidden;
    padding: 5px;
    background-color: white;
    border: 1px gray;
    border-radius: 3px;
    padding: 8px;
}

.word-wrapper:hover .word-popup {
    visibility: visible;
}
